{% extends 'base.html' %}

{% block content%}
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
                <h1 style="color: rebeccapurple;">HELLO WORLD</h1>
                <h2>Working?</h2>
                <h3>Speed</h3>
            </div>
            <div class="col-sm-4">
                <p class="text-center text-white">Here we will have nice weather report :^D</p>
            </div>
            <div class="col-sm-4">
                <p class="text-center text-white">This site is a fucking mess</p>
            </div>
        </div>
    </div>
{% endblock content%}
